@use '../../../../shared/styles/mixins/doc-page' as *;

.avatar-playground-page {
  @include playground-page-layout;
}

.avatar-playground-page__header {
  @include playground-page-header;
}

.avatar-playground-page__subheading {
  margin: 0;
  color: var(--kui-color-text);
  font-size: 16px;
  font-weight: 600;
}

.avatar-playground-page__note {
  @include playground-page-note;
}
