<div class="kui-dialog-header">
  @if (dialogContext.appearance !== 'default') {
    <kui-icon class="kui-dialog-icon" name="circle-alert" />
  }
  <h2 class="kui-dialog-title">{{ dialogContext.data.title }}</h2>
</div>
<div class="kui-dialog-body">
  <p>{{ dialogContext.data.message }}</p>
</div>
<div class="kui-dialog-footer">
  <button kuiButton type="button" shape="outline" (click)="dialogContext.close(null)">
    Cancel
  </button>
  <button kuiButton type="button" shape="soft" (click)="dialogContext.close('confirmed')">
    Confirm
  </button>
</div>
