<div class="code-tabs">
  <div class="code-tabs__list" role="tablist" [attr.aria-label]="label()">
    @for (tab of tabs(); track tab.label; let index = $index) {
      <button
        kuiButton
        type="button"
        size="sm"
        [appearance]="selectedIndex() === index ? 'secondary' : 'ghost'"
        [id]="tabId(index)"
        [attr.aria-controls]="panelId(index)"
        [attr.aria-selected]="selectedIndex() === index"
        role="tab"
        (click)="selectTab(index)"
      >
        {{ tab.label }}
      </button>
    }
  </div>

  @if (selectedTab(); as tab) {
    <pre
      class="code-tabs__panel"
      role="tabpanel"
      [id]="panelId(selectedIndex())"
      [attr.aria-labelledby]="tabId(selectedIndex())"
    ><code [attr.data-language]="tab.language">{{ tab.code }}</code></pre>
  }
</div>
