*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--kui-color-bg);
  color: var(--kui-color-text);
  color-scheme: dark;
  font-family: var(--kui-font-sans);
}

body {
  margin: 0;
}
